<p><%= @question.title %></p>
<br>
<p><%= @question.question %></p>

<ul>
  <% @answers.each do |answer| %>
  <%= link_to("Vote Best!", question_answer_path(@question,answer), action: :update, method: :patch) %>

  <li><%= answer.answer %></li>
  <li><%= answer.is_best %></li>
  <% end %>
</ul>


<%= form_for [@question, @answer] do |f| %>
  <% f.label :user_id %>:
  <%= f.text_field :user_id %><br>

  <%= f.label :answer %>:
  <%= f.text_field :answer %> <br>

  <%= f.submit %>
<% end %>

<%= link_to("Delete", question_path(@question), method: :delete) %>

